.name {
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.area {
    text-align: center;
    background-color: #00E17E;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    width: 25em;
    margin: auto;
    border: 1em solid white;
}
.weekday {
    text-align: center;
    background-color: #00E17E;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    width: 10em;
    margin: auto;
    border: 0.25em solid white;
}
.title {
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: underline;
}
.times {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.button {
    background-color: #00E17E;
    color: white;
    text-align: center;
    font-size: 1em;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.button2 {
    background-color: #00E17E;
    color: white;
    text-align: center;
    font-size: 1em;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}

.content-wrapper {
    border: 1em solid #00E17E;
    /* margin-top: -1em; */
}

.navbar {
    padding-left: 10px;
    padding-right: 10px;
}